# Magento 2
/app/design/*/Magento
/app/etc/*
!/app/etc/config.php
/app/i18n/magento
/app/*.*
/bin
/dev/tests
/dev/tools/grunt/assets
/dev/tools/grunt/configs/*.*
/dev/tools/grunt/tasks
/dev/tools/grunt/tools
/dev/tools/Magento
/dev/tools/*.*
/dev/travis
/dev/*.*
/generated
/lib/internal/Cm
/lib/internal/LinLibertineFont
/lib/internal/GnuFreeFont
/lib/web
/lib/.htaccess
/node_modules
/phpserver
/pub
/setup
/var
/vendor
/*.*
!/grunt-config.json
!/Gruntfile.js
!/package.json
!/dev/tools/grunt/configs/themes-smile.js
!/magepack.config.js

# Generic
/build
!/.gitignore
!/.smileanalyser.yaml
!/.spbuilder.yaml
!/composer.json
!/composer.lock
!/lxcfile
!/README*.md
!/Jenkinsfile
!/phpunit.xml
