<?xml version="1.0" encoding="UTF-8" ?>
<!--
/**
 * Route for Uefa Euro schedule
 *
 * @author Oleksandr Kovalchuk <oleksandr.kovalchuk@smile-ukraine.com>
 * @copyright 2021 Smile
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="schedule" id="schedule">
            <module name="UefaEuro_InitialEvents" />
        </route>
    </router>
</config>
